<section class="section">
  <div class="container">
    <div class="row" *ngFor="let user of users">

      <div class="card" style="margin-bottom: 10px">
        <header class="card-header">
          <p class="card-header-title">
            {{ user.firstname }} {{ user.lastname }}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p>{{ user.title }}</p>
            <p>{{ user.email }}</p>
          </div>
        </div>
        <footer class="card-footer">
          <a href="profile/{{ user.id }}" class="card-footer-item">View</a>
        </footer>
      </div>

    </div>
  </div>
</section>
