<section class="section">
  <nav class="panel">
    <p class="panel-heading">
      My Profile
    </p>
    <div class="panel-block">
      <form>
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="firstname">
          </div>
        </div>

        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="lastname">
          </div>
        </div>

        <div class="field">
          <label class="label">Current Position</label>
          <div class="control">
            <input class="input" type="text" placeholder="current position">
          </div>
        </div>

        <div class="field">
          <label class="label">Current Company</label>
          <div class="control">
            <input class="input" type="text" placeholder="current company">
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
          </div>
        </div>
      </form>
    </div>
  </nav>

  <nav class="panel">
    <p class="panel-heading">
      My Skills
    </p>
    <div class="panel-block">
      <form>
        <div class="field">
          <label class="label">Skills</label>
          <div class="control">
            <input class="input" type="text" placeholder="Skills">
          </div>
        </div>
      </form>
    </div>
  </nav>
</section>
